@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module';

.contactsBlock {
  //min-height: 100vh;
  height: fit-content;
  background-color: $bgColor;
  padding: 50px 0;

  .fade {
    @include container();
    @include flex(column, flex-start, center, wrap);
  }

  .contactsContainer {
    //@include container();
    @include flex(column, flex-start, center, wrap);

    .form {
      @include flex(column, flex-start, stretch, nowrap);
      align-items: center;
      display: flex;
      margin-bottom: 20px;
      margin-top: 30px;
      width: 50%;
      @media screen and (max-width: 550px) {
        width: 100%;
      }

      .formArea,
      .messageArea {
        width: 100%;
        background-color: $bgSecondColor;
        box-sizing: border-box;
        @include text($TextFontFamily, 16px, 400, 1.8);
        height: 46px;
        border: 1px solid #444;
        border-radius: 18px;
        outline: none;
        box-shadow: none !important;
        overflow: visible;
        display: block;
        padding: 0.375rem 0.75rem;
        line-height: 1.5;
        margin-bottom: 1.2rem;

        &:-webkit-autofill {
          border: 1px solid #444;
          -webkit-text-fill-color: #495057;
          -webkit-box-shadow: 0 0 0 1000px #252527;
          //transition: background-color 5000s case-in-out 0s;
          transition: width 2s;

          &:focus {
            border: 2px solid $bgSecondColor;
          }
        }
      }

      .formArea {
        height: calc(1.5em + .75rem + 2px);

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageArea {
        min-height: 130px;
        overflow: auto;
        resize: vertical;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      button[type="submit"] {
        @extend .button;
        align-self: center;
        margin-top: 15px;
        border: none;
      }

      .errorFormArea {
        @extend .formArea;
        border: 2px solid #b31232;
      }

      .errorMessageArea {
        @extend .messageArea;
        border: 2px solid #b31232;
      }

      .error {
        @include text($TextFontFamily, 16px, 600, 1.8);
        color: #b31232;
        margin-bottom: 10px;
      }
    }
  }
}


