@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.skill {
  align-items: center;
  background-color: $bgSecondColor;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
  text-align: center;
  width: 250px;
  margin-bottom: 10px;

  .icon {
    background-color: $bgColor;
    height: 60px;
    width: 60px;
    font-size: 50px;
    color: $primaryColor;
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
  }

  h3 {
    @include text($TitleFontFamily, 20px, 600, 1.2);
    color: $primaryColor;
  }

  .description {
    @include text($TextFontFamily, 16px, 400, 1.8);
  }
}