@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
  letter-spacing: 5px;
  margin: 0 0 30px;
  position: relative;
  text-transform: uppercase;

  &::before {
    background: $primaryColor;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    width: 100px;
  }

  h2 {
    @include text($TitleFontFamily, 55px, 900, 1.2);
    position: relative;
  }
}