@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  background-color: $bgColor;
  //height: 100vh;
  height: fit-content;
  padding: 50px 0;

  .greeting {
    //background-color: $bgSecondColor;
    width: 300px;

    span, p {
      @include text($TextFontFamily, 18px, 400, 1.8);
    }

    h1 {
      @include text($TitleFontFamily, 55px, 700, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
      text-transform: uppercase;

      span {
        @include text($TitleFontFamily, 55px, 900, 1.2);
        position: relative;
        color: $primaryColor;
      }
    }
  }

  .photo {
    align-items: center;
    background-color: #dde6ee;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 400px;
    justify-content: center;
    position: relative;
    width: 300px;
  }
}