@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  background-color: $bgColor;
  height: 100vh;

  .greeting {
    background-color: $bgSecondColor;
    width: 300px;

    span, p {
      @include text($TextFontFamily, 16px, 400, 1.8);
    }

    h1 {
      @include text($TitleFontFamily, 25px, 500, 1.2);
      color: $primaryColor;
      letter-spacing: 1px;
      margin: 0 0 5px;
      text-transform: uppercase;
    }
  }

  .photo {
    align-items: center;
    background-color: #dde6ee;
    background-position: center;
    background-size: cover;
    display: flex;
    height: 400px;
    justify-content: center;
    position: relative;
    width: 300px;
  }
}