.mainBlock {
    height: 100vh;
    background-color: antiquewhite;
}

.greeting {
    width: 300px;
    background-color: #dde6ee;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #dde6ee;
}