$textColor: #fff;
$primaryColor: #daa520;
$bgColor: #222222;
$buttonColor: #ffb400;
$bgSecondColor: #333333;
//$TitleFontFamily: 'Poppins', sans-serif;
$TitleFontFamily: 'Roboto', sans-serif;
$TextFontFamily: 'Open Sans', sans-serif;