@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.footerBlock {
  background-color: $bgColor;
  min-height: 200px;
  padding: 50px 0;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .socialContainer {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 20px 0;
      width: 280px;

      .social {
        background-color: $bgColor;
        height: 60px;
        width: 60px;
        font-size: 50px;
        color: $primaryColor;
      }
    }

    span {
      @include text($TextFontFamily, 16px, 400, 1.8);
    }
  }
}